<!-- Masthead -->

<form #registerForm="ngForm" (ngSubmit)="onFormSubmit(registerForm)">

  <header class="masthead">

    <app-alert></app-alert>

    <div class="container h-100">

      <div class="row h-100 align-items-center justify-content-center text-center">

        <div class="col-lg-10 align-self-end">

          <input ngModel
                 email
                 required
                 #inputEmail="ngModel"
                 type="email"
                 class="form-control btn-xl"
                 name="inputEmail"
                 id="inputEmail"
                 placeholder="Entrer votre email">
          <span *ngIf="inputEmail.invalid && inputEmail.touched">Vérifier votre email.</span>

          <hr class="none my-4">

          <input ngModel
                 #inputPassword="ngModel"
                 required
                 type="password"
                 class="form-control btn-xl"
                 name="inputPassword"
                 id="inputPassword"
                 placeholder="Entrer votre mot de passe">
          <span *ngIf="inputPassword.invalid && inputPassword.touched">Le mot de passe est requis.</span>

          <hr class="none my-4">

          <input ngModel
                 #inputConfirmPassword="ngModel"
                 required
                 type="password"
                 class="form-control btn-xl"
                 name="inputConfirmPassword"
                 id="inputConfirmPassword"
                 placeholder="Confirmer votre mot de passe">
          <span *ngIf="inputConfirmPassword.invalid && inputConfirmPassword.touched">La confirmation est requis</span>
          <span *ngIf="!this.arePasswordSame">Les mots de passes ne sont pas identiques.</span>

          <hr class="divider my-4">

          <div class="row">

            <div class="col">
              <input ngModel
                     #inputFirstName="ngModel"
                     required
                     type="text"
                     class="form-control btn-xl"
                     name="inputFirstName"
                     id="inputFirstName"
                     placeholder="Entrer votre nom">
              <span *ngIf="inputFirstName.invalid && inputFirstName.touched">Votre nom est requis.</span>
            </div>

            <div class="col">
              <input ngModel
                     #inputLastName="ngModel"
                     required
                     type="text"
                     class="form-control btn-xl"
                     name="inputLastName"
                     id="inputLastName"
                     placeholder="Entrer votre prénom">
              <span *ngIf="inputLastName.invalid && inputLastName.touched">Votre prénom est requis.</span>
            </div>

            <div class="col">
              <input ngModel
                     #inputSocietyName="ngModel"
                     type="text"
                     class="form-control btn-xl"
                     name="inputSocietyName"
                     id="inputSocietyName"
                     placeholder="Entrer le nom de votre société">
            </div>

          </div>

          <hr class="divider my-4">

        </div>

        <div class="col-lg-8 align-self-baseline">
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="/signup#abo" id="chooseAbo">Choisir votre abonnement<br><i class="fas fa-2x fa-angle-down"></i></a>
        </div>

      </div>

    </div>

  </header>

  <!-- Services Section -->
  <section class="page-section" id="abo">

    <div class="container">

      <h2 class="text-center mt-0">Choisissez votre abonnement</h2>

      <hr class="divider my-4">

      <div class="row">

        <div class="col-lg-4 col-md-6 text-center">

          <div class="mt-5">

            <i class="fas fa-2x fa-star text-primary mb-4"></i><i class="far fa-2x fa-star text-primary mb-4"></i><i class="far fa-2x fa-star text-primary mb-4"></i><i class="far fa-2x fa-star text-primary mb-4"></i><i class="far fa-2x fa-star text-primary mb-4"></i>

            <h3 class="h4 mb-2">Sans abonnement</h3>

            <hr class="none my-4">

            <p class="text-muted mb-0">Payez le temps passé sur place, les consommations sont incluses et à volonté ! Accessible sans réservation ou abonnement.</p>

            <hr class="divider my-4">

            <h3 class="h6 mb-2">Tarifs par personne</h3>

            <p class="text-muted mb-0">
              Première heure : 5€<br>
              ½ heure suivante : 2,50€<br>
              Journée (5 heures et plus) : 24€
            </p>

            <hr class="divider my-4">

            <div class="form-check form-check">

              <input ngModel
                     #student="ngModel"
                     class="form-check-input"
                     type="checkbox"
                     name="student"
                     id="student"
                     value="student">

              <label class="form-check-label" for="student">
                <h3 class="h6 mb-2">Je suis étudiant(e) !</h3>
              </label>

            </div>

            <p class="text-muted mb-0">Journée (5 heures et plus) : 20€</p>

            <hr class="divider my-4">

            <p class="text-muted mb-0">
              Accès open space (sans possibilité de changer d'adresse),
              Wifi,
              Snacking & boissons à volonté,
              Cabines téléphonique.
            </p>

            <hr class="divider my-4">

            <div class="form-check form-check">

              <input ngModel
                     checked
                     #radioOptions="ngModel"
                     class="form-check-input"
                     type="radio"
                     name="radioOptions"
                     id="radioBtnNoAbo"
                     value="noAbo">

              <label class="form-check-label" for="radioBtnNoAbo">
                Sans abonnement
              </label>

            </div>

          </div>

        </div>


        <div class="col-lg-4 col-md-6 text-center">

          <div class="mt-5">

            <i class="fas fa-2x fa-star text-primary mb-4"></i><i class="fas fa-2x fa-star text-primary mb-4"></i><i class="fas fa-2x fa-star text-primary mb-4"></i><i class="far fa-2x fa-star text-primary mb-4"></i><i class="far fa-2x fa-star text-primary mb-4"></i>

            <h3 class="h4 mb-2">Abonnement simple</h3>

            <hr class="none my-4">

            <p class="text-muted mb-0">Rejoignez la communauté CO'WORK et bénéficiez de tarifs préférentiels !</p>

            <hr class="divider my-4">

            <h3 class="h6 mb-2">Tarifs membre par personne</h3>

            <p class="text-muted mb-0">
              Première heure : 4€<br>
              ½ heure suivante : 2€<br>
              Journée (5 heures et plus) : 20€
            </p>

            <hr class="divider my-4">

            <p class="text-muted mb-0">
              Accès open space,
              Wifi,
              Snacking & boissons à volonté,
              Cabines téléphonique,
              Accès libre à tous les espaces,
              Accès premium au HUB".
            </p>

            <hr class="divider my-4">

            <input ngModel
                   #radioOptions="ngModel"
                   class="form-check-input"
                   type="radio"
                   name="radioOptions"
                   id="radioBtnSimple"
                   value="simple">

            <label class="form-check-label" for="radioBtnSimple">
              <h3 class="h6 mb-2">Devenir membre SANS engagement</h3>
            </label>

            <p class="text-muted mb-0">
              24€ TTC / mois
            </p>
            <hr class="divider my-4">

            <input ngModel
                   #radioOptions="ngModel"
                   class="form-check-input"
                   type="radio"
                   name="radioOptions"
                   id="radioBtnSimpleEngagement"
                   value="simple_Engagement">

            <label class="form-check-label" for="radioBtnSimpleEngagement">
              <h3 class="h6 mb-2">Devenir membre AVEC engagement de 12 mois</h3>
            </label>

            <p class="text-muted mb-0">
              20€ TTC / mois
            </p>

          </div>

        </div>

        <div class="col-lg-4 col-md-6 text-center">

          <div class="mt-5">

            <i class="fas fa-2x fa-star text-primary mb-4"></i><i class="fas fa-2x fa-star text-primary mb-4"></i><i class="fas fa-2x fa-star text-primary mb-4"></i><i class="fas fa-2x fa-star text-primary mb-4"></i><i class="fas fa-2x fa-star text-primary mb-4"></i>

            <h3 class="h4 mb-2">Abonnement Résident</h3>

            <hr class="none my-4">

            <p class="text-muted mb-0">Rejoignez la communauté CO'WORK et devenez membre résident. Bénéficiez d'un accès en illimité 7/7j !</p>

            <hr class="divider my-4">

            <input ngModel
                   #radioOptions="ngModel"
                   class="form-check-input"
                   type="radio"
                   name="radioOptions"
                   id="radioBtnResident"
                   value="resident">

            <label class="form-check-label" for="radioBtnResident">
              <h3 class="h6 mb-2">Devenir membre résident SANS engagement</h3>
            </label>

            <p class="text-muted mb-0">
              300€ TTC / mois
            </p>

            <hr class="divider my-4">

            <input ngModel
                   #radioOptions="ngModel"
                   class="form-check-input"
                   type="radio"
                   name="radioOptions"
                   id="radioBtnResidentEngagement"
                   value="resident_Engagement">

            <label class="form-check-label" for="radioBtnResidentEngagement">
              <h3 class="h6 mb-2">Devenir membre résident AVEC engagement de 8 mois</h3>
            </label>

            <p class="text-muted mb-0">
              252€ TTC / mois
            </p>

          </div>

        </div>

      </div>

      <hr class="none my-4">

    </div>

    <div class="row h-75 align-items-center justify-content-center text-center">

      <p class="text-muted mb-0">

        <input ngModel
               required
               #generalCondition="ngModel"
               class="form-check-input"
               type="checkbox"
               name="generalCondition"
               id="generalCondition"
               value="generalCondition">

        <label class="form-check-label" for="generalCondition">
          En cochant cette case vous acceptez les Conditions générales.
        </label>
        <span *ngIf="!this.acceptGeneralCondition">Vous devez accepter les conditions générales pour continuer.</span>

      </p>

      <div class="col-lg-8 align-self-baseline">
        <button class="btn btn-primary btn-xl js-scroll-trigger" id="login">Connexion</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>

    </div>

  </section>

</form>
