<!-- Masthead -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <!-- Content Row -->
      <div class="row">

        <div class="col-xl-8 col-lg-7">

          <!-- Area Chart -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Vos réservations d'équipement</h6>
            </div>
            <div class="card-body">
              <div class="chart-area">
                10 ordinateurs et 1 imprimante pour le Vendredi 23 Juin 2018
                <hr>
                10 ordinateurs pour le Mercredi 01 Mai 2018
                <hr>
                1 imprimante pour le Lundi 15 Spetembre 2018
                <hr>
                10 ordinateurs et 1 imprimante pour le Vendredi 23 Juin 2018
                <hr>
                10 ordinateurs pour le Mercredi 01 Mai 2018
                <hr>
                1 imprimante pour le Lundi 15 Spetembre 2018
                <hr>
              </div>
              <a class="btn btn-primary btn-xl js-scroll-trigger" href="#" id="reserveEquipment">Réserver des équipements</a>
            </div>
          </div>

          <!-- Bar Chart -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Vos réservations de salle</h6>
            </div>
            <div class="card-body">
              <div class="chart-area">
                Aucune réservation de salle enregistrée
                <hr>
              </div>
              <a class="btn btn-primary btn-xl js-scroll-trigger" href="#" id="reserveRoom">Réserver des salles</a>
            </div>
          </div>

        </div>

        <!-- Donut Chart -->
        <div class="col-xl-4 col-lg-5">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Votre open space</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div class="chart-pie pt-4">
                <h5>CO'WORK PLACE D'ITALIE</h5>
                <hr>
                <h5>À votre disposition</h5>
                Wi-fi très haut débit<br>
                Plateaux membres<br>
                Boissons à volonté<br>
                5 salles de réunion<br>
                4 salles d'appel<br>
                3 salons cosy<br>
                1 imprimante<br>
                20 ordinateurs portables
                <hr>
                <h5>Horaires</h5>
                Lundi à Jeudi : de 9h à 20h<br>
                Vendredi : de 9h à 20h<br>
                Samedi et Dimanche : de 11h à 20h
              </div>
              <hr>
              <a class="btn btn-primary btn-xl js-scroll-trigger" href="#" id="reportIncident">Signaler un incident</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
