<!-- Masthead -->
<form>
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <input type="email" class="form-control btn-xl" id="inputEmail" aria-describedby="emailHelp" placeholder="Entrer votre email" required>
          <hr class="none my-4">
          <input type="password" class="form-control btn-xl" id="inputPassword" aria-describedby="passwordHelp" placeholder="Entrer votre mot de passe" required>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <a class="btn btn-primary btn-xl js-scroll-trigger" id="login">Connexion</a>
          <a class="btn btn-secondary btn-xl js-scroll-trigger" routerLink="/signup">Pas encore inscrit ?</a>
        </div>
      </div>
    </div>
  </header>
</form>
