<!-- Masthead -->


<form #loginForm="ngForm" (ngSubmit)="onFormSubmit(loginForm)">

  <header class="masthead">

    <app-alert></app-alert>

    <div class="container h-100">

      <div class="row h-100 align-items-center justify-content-center text-center">

        <div class="col-lg-10 align-self-end">

          <input type="email"
                 ngModel
                 email
                 class="form-control btn-xl"
                 name="inputEmail"
                 id="inputEmail"
                 aria-describedby="emailHelp"
                 placeholder="Entrer votre email"
                 #inputEmail="ngModel"
                 required>
          <span *ngIf="inputEmail.invalid && inputEmail.touched">Vérifier votre email.</span>

          <hr class="none my-4">

          <input type="password"
                 ngModel
                 class="form-control btn-xl"
                 name="inputPassword"
                 id="inputPassword"
                 aria-describedby="passwordHelp"
                 placeholder="Entrer votre mot de passe"
                 #inputPassword="ngModel"
                 required>
          <span *ngIf="inputPassword.invalid && inputPassword.touched">Le mot de passe est requis.</span>

          <hr class="divider my-4">

        </div>

        <div class="col-lg-8 align-self-baseline">
          <button class="btn btn-primary btn-xl js-scroll-trigger" id="login">Connexion</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          <button class="btn btn-secondary btn-xl js-scroll-trigger" routerLink="/signup">Pas encore inscrit ?</button>
        </div>

      </div>

    </div>

  </header>

</form>
