<!-- About Section -->
<section class="page-section bg-primary" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">Venez nous rejoindre !</h2>
        <hr class="divider light my-4">
        <p class="text-white-50 mb-4">Créée en 2011, Co'Work propose six espaces de travail collaboratif à Paris (Bastille, République, Odéon, Place d'Italie, Ternes et Beaubourg). Pour quelques euros de l’heure, les utilisateurs viennent se rencontrer, se détendre,
          organiser un rendez-vous, travailler, accéder à Internet ou profiter de boissons chaudes et froides à
          volonté. Des animations et des événements liés aux cultures innovantes rythment aussi la vie des lieux
          dans un esprit de communauté.</p>
        <a class="btn btn-light btn-xl js-scroll-trigger" routerLink="signup">Je veux y adhérer !</a>
      </div>
    </div>
  </div>
</section>
